.container{
	max-width: 960px;
	padding:0 10px;
	margin: auto;
	width: 100%;
}
*,html{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'Cuprum', Arial, sans-serif;
	background-color: #f3f7f9;
}
a{
	text-decoration: none;
}
header.top-menu{
	width: 100%;
	margin-bottom: 60px;
}
.top-navigation{
	height:42px;
	background-color: #293449;
}
.top-site-navigation{
	background-color: #293449;
}

.logotype{
	width: 220px;
	height: 47px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 28px;
	color:#fff;
	text-decoration: none !important;
	background-color: #ee3643;
	position: relative;
}
.logotype:hover{
	background-color: #ca2c37;
}
.logotype:active{
	background-color: #ca2c37;
}
.logotype:after{
	content:"";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5px;
	background-color: #b52933;
}
.top-navigation nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.top-navigation button{
	font-family: 'Cuprum', Arial, sans-serif!important;
	font-size: 17px;
}
.top-navigation-input-search{
	height: 100%;
	min-width: 270px;
	background-color: #293449;
	color:#000;
	min-height: 42px;
	height: 42px;
	padding:8px 16px 8px 45px;
}
.top-navigation-input-search:hover{
	background-color: #212a3a;
}
.top-navigation-input-search::placeholder{
	font-size: 18px;
	font-family: 'Cuprum', Arial, sans-serif;
	color:#fff;
}
.top-navigation-input-search:active{
	background-color: #293449;
}
.top-navigation-input-search:focus{
	background-color: #fff;
}
.top-navigation-input-search:focus::placeholder{
	color: #000;
}
.search-group{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100%;
	width: 270px;
	align-items: center;
}
.search-group label{
	max-width: 20px;
	max-height: 20px;
	width: 100%;
	position: absolute;
	height: 100%;
	left: 8px;
	display: inherit;
	align-items: center;
}
.search-icon{
	left: 0;
	position: absolute;
	fill:#6a7180;
}
.top-navigation-input-search:hover + label .search-icon path{
	fill: #fff;
}
.top-navigation-input-search:focus + label .search-icon path{
	fill:#ee3643
}
.phone{
	color:#fff;
}
input,button{
	transition: .2s;
	outline:none!important;
	margin: 0;
	border:none;
}
button.ship-active{
	margin: 0 !important;
	height: 100%;
	background-color: #ee3643;
}
.search-group input:focus img{
	background-color: red;
}
.input-theme{
	min-height: 42px;
	padding:8px 16px 8px 45px;
}
.profile-buttons{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 160px;
	max-width: 160px;
	line-height: 42px;
	height: auto;
	height: 100%;
	text-align: center;
	color:#fff;
	font-size: 18px;
	background-color: #293449;
}
.profile-buttons svg{
	fill:#fff;
	filter: opacity(40%);
}
.profile-buttons:hover svg{
	filter: opacity(100%);
}
.profile-buttons:hover{
background-color: #212a3a;
}
.profile-buttons:active{
	background-color: #161d29;
	color:#8b8e94;
}
.profile-buttons:active svg{
	fill:#8b8e94;
}
.profile-button-count{
	padding:0 4px;
}
.ship-active{
	background-color: #ee3643;
}
.checkout{
	background-color: #63a63e;
	color:#fff;
}
.checkout:hover{
	background-color: #5fbb2d;
}
.checkout:active{
	background-color: #518534;
	color:#91b27f;
}
.username-profile-link svg{
	fill:#c5c5c5;
}
.username-profile-link:hover span{
	color:#000;
}
.username-profile-link:hover svg{
	fill:#32425c;
}
.logout-link:hover svg path{
	fill:#32425c;
}
.profile-list-menu{
	padding: 0 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.profile-list-menu li:first-child{
		list-style: none;

}
.profile-list-menu li:last-child{
	list-style: inside;
}
.profile-list-menu li{
	padding:8px 10px;
}
.profile-list-menu li a{
	color:#32425c;
	text-decoration: underline;
}
.profile-list-menu li a:hover{
	color:#ee3643;
}
.profile-buttons.red-btn{
	margin: 0;
	height: 100%;
	border-radius: 0;
	font-size: 18px;
}
.top-navigation-menu-list{
	overflow: hidden;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	padding-left: 0;
	margin: 0;
	display: -o-flex;
	display: flex;
	justify-content: center;
	list-style: none;
}
ul{
	padding-left: 0;
	margin: 0;
}
.menu-list-item{
width: 100%;
}
.menu-list-item a{
	color:#fff;
	font-size: 16px;
	text-decoration: none;
	align-items: center;
	min-height: 55px;
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 55px;
	background-color: #32425c;
	border-bottom: 4px solid #293449;
}
.menu-list-item a:hover{
	background-color: #293449;
}
.menu-list-item a:active{
	background-color: #1d2739;
	color:#868c95;
}
.main-title{
	max-width: 290px;
    color: red;
    font-size: 17px;
    padding: 0px 35px;
}
.top-site-information{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	padding:45px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.top-site-information svg{
	margin-right: 8px;
}
.contacts-top-menu{
	max-width: 320px;
	text-align: center;
	font-family: 'Cuprum', Arial, sans-serif;
}
.contacts-top-menu p{
	margin: 0;
	font-size: 14px;
	color:#32425c;
	font-weight: bold;
	font-family: 'Cuprum', Arial, sans-serif;
}
.contacts-top-menu .phone{
	text-decoration: none;
	padding:8px;
	font-weight: bold;
	margin-bottom: 8px;
	display: block;
	border:4px solid #fff;
	color:#ee3643;
	font-size: 21px;
}
.autorization-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 360px;
	padding: 0 15px;
	margin-left: auto;
}
.login-icon{
	fill:#fff;
	filter: opacity(95%);
}
.login-link:hover .login-icon path{
	fill:#32425c;
}
.autorization-block a{
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 21px;
	font-weight: bold;
	background-color: #fff;
	padding:15px;
	color:#000;
}
.autorization-block .login-link{
	margin:0 8px;
}
.autorization-block a:hover{
	color:#ee3643;
}
.autorization-block a:active{
	color:#c5c5c5;
	fill:#c5c5c5;
}
.login-link:active .login-icon path{
	fill:#c5c5c5;
}
.special-orders{
	margin-top: 125px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.wrapper-page{
	margin-top: 60px;
}
.orders-slider-block{
	max-width: 620px;
	width: 100%;
}
.yellow-banner{
	background-color: #ffbf47;
}
.blue-banner{
	background-color: #3bbce3;
}
.purple-banner{
	background-color: #dc91d8;
}
.green-banner{
	background-color: #8ed78f;	
}
.categories-banner-list{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-between;
}
.categories-banner-list li{
	color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 22px 38px 22px 22px;
    max-height: 125px;
    position: relative;
    overflow: hidden;
	margin-bottom: 20px;
}
.categories-banner-list li{
	background-repeat: no-repeat;
	background-position: right center;
	background-origin: content-box;
}
.materials{
	background-image: url(../svg/icon-1.svg);
}
.shipping{
	background-image: url(../svg/icon-5.svg);
}
.instrument{
	background-image: url(../svg/icon-2.svg);
}
.cars{
	background-image: url(../svg/icon-3.svg);
}
.sale{
	background-image: url(../svg/icon-4.svg);
}
.icon{
	margin:0 6px;
	width: 100%;
	height: 100%;
	max-width: 20px;
	max-height: 20px;
	display: block;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.input-search{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.categories-vertical{
	max-width: 300px;
	width: 100%;
}
.categories-vertical li{
	width: 100%;
}
.categories-banner-list .banner-title{
	margin: 0;
}
.categories-banner-list li:last-child{
	margin-right: 0;
}
.new-flag{
	width: 100px;
	height: 30px;
	background-color: #ff5357;
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	z-index: 10;
	color:#fff;
	transform: rotate(36deg);
	right: -25px;
}
.categories-banner-list .banner-info a{
	padding: 11px 20px;
    width: 140px;
    transition: .2s;
    font-size: 14px;
    display: block;
    margin-top: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
	text-transform: uppercase;
}
.categories-banner-list .banner-info a:hover{
	background-color: rgba(0, 0, 0, 0.2);
}
.categories-banner-list .banner-info a:active{
	background-color: rgba(0, 0, 0, 0.3);
}
.orders-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.slider-block{
	height: 268px;
}
.slider-block img{
	width: 100%;
	height: 100%;
}
.big-wrapper{
	max-width: 65%;
	width: 100%;
}
.section-title{
	font-size: 30px;
	text-transform: uppercase;
	margin: 20px 0px;
	margin-bottom: 40px;
	font-family: 'Cuprum', Arial, sans-serif;
}
p{
	font-family: 'PT Sans Regular';
	font-size: 14px;
}
.company-info{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about-company{
	max-width: 550px;
	width: 100%;
}
.contacts-company{
	max-width: 310px;
}
.section-description{
	margin: 40px 0;
}
.company-directions{
	font-family: 'Cuprum', Arial, sans-serif;
}
.company-directions li{
	margin-bottom: 16px;
	font-size: 18px;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.company-directions li:before{
	content:"";
	position: relative;
	margin-right: 10px;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #ee3643;
}
.item:hover .item-hidden-block{
	filter: opacity(1);
	transform:translateY(0);
	visibility: visible;
}
.item-hidden-block{
	transition:0.4s;
	transform:translateY(-100px);
	filter: opacity(0);
	visibility: hidden;
	position: absolute;
	height: 170px;
	z-index: 8;
	width: 100%;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #fff;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.item-button{
	margin:4px;
position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 135px;
	height: 38px;
	border-radius: 4px;
	text-align: center;	
}
.add-to-cart{
	padding-top: 6px;
	background-color: #63a63e;
	color:#fff;
	border-bottom: 3px solid #367315;
}
.add-to-cart svg{
	margin-right: 16px;
	fill:#fff;
	filter:opacity(40%);
}
.add-to-cart:hover{
	background-color: #5fbb2d;
}
.add-to-cart:hover svg{
	filter: opacity(100%);
}
.add-to-cart:active{
	background-color: #518534;
	border-bottom: 4px solid #518534;
}
.add-to-cart:active svg{
	filter: opacity(70%);
}
.add-to-bookmark{
	color:#32425c;
	justify-content: center;
	background-color: #fff;
	border:3px solid #63a63e;
}
.add-to-bookmark:hover{
	border:3px solid #32425c;
}
.add-to-bookmark:active{
	filter:opacity(40%);
}

.red-btn{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	cursor: pointer;
	margin:18px 0;
	background-color: #ee3643;
	color:#fff;
	height: 40px;
	font-size: 14px;
	border-radius: 2px;
	font-family: 'Cuprum', Arial, sans-serif;
}
.red-btn:hover{
	background-color: #ca2c37;
}
.red-btn:active{
	background-color: #ba2732;
}
.big-btn{
	max-width: 300px;
width: 100%;
}
.half-btn{
width: 220px;
}
.location{
	margin-bottom: 27px;
	display: block;
	height: 160px;
}
.location img{
	max-width: 100%;
}
footer{
	color:#fff;
	margin-top: 80px;
}
footer p{
	margin: 0;
}
footer .logotype{
	margin-bottom: 30px;
	height: 65px;
}
.footer-navigation{
	background-color: #32425c;
	min-height: 190px;
}
.title-section{
margin: 30px 0;
    padding: 0 25px;
    min-height: 90px;
    background-color: #f9f5f0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
}
.title-section a{
	width: 254px;
}
.footer-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: space-between;
	align-items: center;
	display: flex;
}
.footer-nav ul{
	list-style: none;
}
.footer-nav ul li a{
	padding:25px;
	color:#fff;
}
footer .page-navigation:active{
	color:#929caa;
	text-decoration: none;
}
.footer-nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.footer-nav ul li a:hover{
	text-decoration: underline;
}
.footer-copyright{
	padding:30px 0;
	background-color: #293449;
	min-height: 110px;
}
.footer-nav ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
footer .categories-navigation li a{
	color:#ffd180;
}
footer .categories-navigation li a:active{
	color:#998a6e;
	text-decoration: none;
}
.social-links{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
}
.social-link{
	transition: .4s;
	color:#fff;
	margin: 5px;
	width: 40px;
	height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: #212a3a;
}
.social-link img{
	max-width: 26px;
	max-height: 25px;
}
.social-links .social-link:hover{
	color:#ee3643;
	background-color: #ee3643;
}
.copyright-block a{
	color:#ffd180;
}
.copyright-block a:hover{
	text-decoration: underline;
}
.copyright-block a:active{
	color:#c73644;
	text-decoration: none;
}
.page-title{
	margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    background-color: #f2f6f8;
    color:#32425c;
	padding: 45px 45px;
}
.section-title{
	margin-bottom: 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 28px;
}
.breadcrumbs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	list-style: none;
	display: flex;
	padding:25px 8px;
	background-color: #fff;
}
.breadcrumbs li{
	text-decoration: none;
	font-weight: bold;
	display: inherit;
	align-items: center;
	font-size: 14px;
	text-transform: uppercase;
}
.breadcrumbs li:first-child svg{
	width: 18px;
	height: 18px;
}
.breadcrumbs li:nth-child(1):hover svg g{
	fill:#32425c!important;
	filter:opacity(100%);
}
.breadcrumbs li{
	display: inherit;
	align-items: center;
	position: relative;
}
.breadcrumbs li:after{
	content:">";
	position: relative;
	right: 0;
	font-size: 21px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 18px;
	margin:0 20px;
	color:#ccc;
}
.breadcrumbs li a{
	text-transform: uppercase;
	font-size: 14px;
	color:#000;
	text-decoration: none;
}
.breadcrumbs li:hover a{
	color:#ee3643;
}
/*.breadcrumbs li:last-child{
	color:#aba9a7;
}*/
.breadcrumbs li:last-child:after{
	display: none;
}
#catalog{
	background-color: #fff;
}
.catalog-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.checkbox-group{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 36px;
}
.section-catalog{
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	margin-bottom: 80px;
	background-color: #fff;
}
.section-catalog .page-title{
	margin:20px 0;
	padding: 30px;
	color:#32425c;
	background-color: #f2f6f8;
	font-family: 'Cuprum', Arial, sans-serif;
}
.checkbox-group label{
	font-family: 'PT Sans', Arial, sans-serif;
	display: block;
	text-transform: uppercase;
	margin-bottom: 14px;
	font-size: 15px;
}
.checkbox-group input[type="checkbox"]{
	display: none;
}
.checkbox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox__text {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}
.checkbox__text:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 19px;
	height: 19px;
	background-image: url(../svg/checkbox-off.svg);
	-webkit-background-size: cover;
	background-size: cover;
	transition: .2s;
}
.checkbox__text:after {
	content: '';
	position: absolute;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	width: 21px;
	height: 19px;
	transition: .4s;
}
label input[type="checkbox"]:checked + .checkbox__text:before {
	background-image: url(../svg/checkbox-off.svg);
}
label input[type="checkbox"]:checked + .checkbox__text:after {
	background-image: url(../svg/checkbox-on.svg);
}
.checkbox-group input:checked{
	color:#fff;
}
.checkbox-group .disabled{
	color:#a9a7a5!important;
}
.checkbox-group label input{
	margin-right: 16px;
}
.radio input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.radio__text {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}
.radio__text:before {
	content: '';
	position: absolute;
	top: -0;
	left: 0;
	width: 24px;
	opacity: 0.7;
	height: 20px;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;	
	background-image: url(../svg/radio-off.svg);
}
.radio__text:after {
	content: '';
	position: absolute;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	width: 24px;
	height: 20px;
	transition: .4s;
}
.disabled-radio{
	filter: opacity(60%);
}
.radio input:checked + .radio__text:after {
	opacity: 1;
	background-image: url(../svg/radio-on.svg);
}
.radio input:focus + .radio__text:before {
	background-image: url(../svg/radio-off.svg);
}
.left-side{
	width: 210px;
	margin-right: 10px;
}
button{
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	text-transform: uppercase;
	border:none;
}
.dark-btn{
	cursor: pointer;
	background-color: #000;
	color:#fff;
}
.dark-btn:hover{
	background-color:#663d15;
}
.button{
	cursor:pointer;
}
.button-show{
	border-radius: 2px;
	width: 140px;
	padding:15px;
}
.popular-products .catalog-items{
	width: 100%;
}
.catalog-items{
	width: 710px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item{
	overflow: hidden;
	position: relative;
	transition: .2s;
	margin-bottom: 15px;
	width: 100%;
	max-width: 220px;
	min-height: 320px;
	max-height: 320px;
	border:1px solid #e5e5e5;
}
.item:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.item-link{
	color:#000;
	text-decoration: none;
	display: block;
}
.item-title{
	padding: 0 20px;
	font-family: 'PT Sans', sans-serif!important;
	margin-top: 25px;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
.item-title a{
	color:#000;
}
.item img{
	max-height: 150px;
	width: 100%;
	height: 100%;
}
.item-price{
	width: 100%;
	height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}
.item-price .old-price{
	width: 100%;
	margin-bottom: 8px;
	font-weight: bold;
	color:#999999;
}
.item-price .price{
	width: 100%;
	height: 100%;
	max-width: 123px;
	text-align: center;
	display: inherit;
	justify-content: center;
	font-weight: bold;
	align-items: center;
	color:#fff;
	border-radius: 3px;
	position: relative;
	background-color: #ee3643;
}
.item-price .price:after{
	content:"";
	position: absolute;
	right: -40px;
	border: 20px solid transparent;
    border-left: 20px solid #ee3643;
}
.pagination{
	margin-top: 36px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
}
.pagination li{
	margin: 4px;
}
.pagination li a{
	transition: .2s;
	background-color: #fff;
	padding: 15px;
	text-decoration: none;
	color:#000;
	border:1px solid #e5e5e5;
	border-radius: 4px;
}
.pagination li a:hover{
	border:1px solid #bdc6ca;
}
.pagination li a:active{
	border:1px solid #ee3643;
}
.pagination-item.active a{
	color:#fff;
	background-color: #ee3643;
}
.pagination-item.active a:hover{
	color:#fff;
}
.categories-title{
	font-size: 17px;
	font-family: 'PT Sans';
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: bold;
}
.white-btn{
	cursor: pointer;
	background-color: #fff;
	border:1px solid #e5e5e5;
}
.white-btn:hover{
	background-color: #e5e5e5;
}
.description{
	margin-top: 36px;
}
.contacts-company p{
	max-width: 70%;
}
@keyframes modal-in{
	0%{
		transform:translate(-50%,-100%);
	}
	50%{
		transform:translate(-50%,-40%);
	}
	100%{
		transform: translate(-50%,-50%);
	}
}
.modal-content{
	animation:modal-in 2s;
}
.modal-write-us{
	width: 100%;
	position: absolute;
	max-width: 620px;
	margin: auto;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	min-height: 430px;
	background-color: #fff;
	border-top:8px solid #ff5357;
	box-shadow: 0 15px 45px rgba(0,0,0,0.6);
}
.modal-wrapper{
	display: none;
	height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

.modal-overlay{
	background-color: rgba(0,0,0,0.2);
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.close-btn{
	position: absolute;
	right: 15px;
	top: 15px;
	transform:rotate(0deg);
	cursor:pointer;
	background-color: transparent;
	margin-right: auto;
}
.close-btn:hover{
	transform:rotate(45deg);
}
.modal-write-us form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 25px 80px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.modal-write-us form p{
	font-weight: bold;
	font-size: 18px;
	font-family: 'Cuprum', 'Arial', sans-serif;
}
.default-input{
	font-family: 'PT Sans';
	margin-bottom: 18px;
	padding: 15px;
	min-width: 220px;
	height: 40px;
	border-radius: 3px;
	border:2px solid #dee3e4;
}
.default-input::placeholder{
	color:#ccc;
}
.default-input:hover{
	border:2px solid #b5b5b5;
}
.default-input:focus{
	outline: none;
	border:2px solid #ee3643;
}
.modal-write-us form textarea{
	width: 100%;
	height: 115px;
	max-height: 140px;
}
.modal-write-us form button[type="submit"]{
	width: 100%;
}
.modal-map{
	display: none;
}
.modal-map-show{
	display: block;
}
.modal-show{
	display: block;
}
.modal-show-map{
	position: fixed;
	background-color: #fff;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	max-width: 940px;
	width: 100%;
	min-height: 450px;
}
.modal-cart{
	border-top:8px solid #ff5357;
	animation:modal-in 1s;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fff;
	transform:translate(-50%,-50%);
	max-width: 620px;
	width: 100%;
	box-shadow: 0 15px 45px rgba(0,0,0,0.6);
	min-height: 280px;
}
.modal-cart .modal-body{
	padding:50px 80px;
}
.modal-wrapper .white-btn{
	cursor: pointer;
	height: 40px;
	width: 220px;
	background-color: #fff;
	border:1px solid #e5e5e5;
}
.modal-wrapper .white-btn:hover{
	filter: brightness(95%);
}
.button-group{
	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.button-group button{
	font-family: 'Cuprum';
	font-size: 14px;
	margin: 15px;
	border-radius: 3px;
}
.item-add-to-cart{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
	display: flex;
	justify-content: flex-start;
}
@keyframes pulse{
	0%{
		transform:scale(0);
	}
	100%{
		transform:scale(1);
	}
}
.item-add-to-cart svg{
	animation:pulse 0.6s;
	margin-right: 26px;
}
.modal-cart .modal-footer{
	padding: 25px;
	background-color: #f1f1f1;
}
.item-add-to-cart p{
	font-family: 'Cuprum';
	font-size: 30px;
	font-weight: bold;
}