.container {
	max-width: 960px;
	padding: 0 10px;
	margin: auto;
	width: 100%;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-Regular.woff2') format('woff2'), url('../fonts/PTSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Italic.woff2') format('woff2'), url('../fonts/Cuprum-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-BoldItalic.woff2') format('woff2'), url('../fonts/Cuprum-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Regular.woff2') format('woff2'), url('../fonts/Cuprum-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-Bold.woff2') format('woff2'), url('../fonts/PTSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Bold.woff2') format('woff2'), url('../fonts/Cuprum-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-BoldItalic.woff2') format('woff2'), url('../fonts/Cuprum-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-Bold.woff2') format('woff2'), url('../fonts/PTSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Regular.woff2') format('woff2'), url('../fonts/Cuprum-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Italic.woff2') format('woff2'), url('../fonts/Cuprum-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Bold.woff2') format('woff2'), url('../fonts/Cuprum-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-Regular.woff2') format('woff2'), url('../fonts/PTSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*,
html {
	box-sizing: border-box;
}

body {
	min-width: 980px;
	margin: 0;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	background-color: #fff;
}

a {
	text-decoration: none;
}

header.top-menu {
	background-color: #f3f7f9;
	width: 100%;
	padding-bottom: 60px;
}

.top-navigation {
	height: 42px;
	background-color: #293449;
}

.top-site-navigation {
	background-color: #293449;
}

.logotype {
	width: 220px;
	height: 47px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 24px;
	color: #fff;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	text-decoration: none;
	background-color: #ee3643;
	position: relative;
}

.logotype:hover {
	background-color: #ca2c37;
}

.logotype:active {
	background-color: #ca2c37;
}

.logotype::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #b52933;
}

.top-navigation nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.top-navigation button {
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	font-size: 17px;
}

.top-navigation-input-search {
	height: 100%;
	min-width: 270px;
	background-color: #293449;
	color: #ffffff;
	min-height: 42px;
	height: 42px;
	padding: 8px 16px 8px 47px;
}

.top-navigation-input-search:hover {
	background-color: #212a3a;
}

.top-navigation-input-search::placeholder {
	font-size: 18px;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	color: #ffffff;
}

.top-navigation-input-search:active {
	background-color: #293449;
}

.top-navigation-input-search:focus {
	color: #000000;
	background-color: #fff;
}

.top-navigation-input-search:focus::placeholder {
	color: #000000;
}

.search-group {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100%;
	width: 270px;
	align-items: center;
}

.search-group label {
	max-width: 20px;
	max-height: 20px;
	width: 100%;
	position: absolute;
	height: 100%;
	left: 8px;
	top: 3px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.search-icon {
	left: 0;
	position: absolute;
	fill: #6a7180;
}

.top-navigation-input-search:hover+label .search-icon path {
	fill: #fff;
}

.top-navigation-input-search:focus+label .search-icon path {
	fill: #ee3643;
}

.phone {
	color: #fff;
}

input,
button {
	transition: 0.2s;
	margin: 0;
	border: none;
}

button.ship-active {
	margin: 0;
	height: 100%;
	background-color: #ee3643;
}

.header-input-search:focus img {
	background-color: #ee3643;
}

.input-theme {
	min-height: 42px;
	padding: 8px 16px 8px 45px;
}

.profile-buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 150px;
	max-width: 160px;
	line-height: 42px;
	height: auto;
	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	background-color: #293449;
}

.profile-buttons svg {
	fill: #fff;
	opacity: 0.4;
	filter: alpha(opacity='40');
}

.profile-buttons:hover svg {
	opacity: 1;
	filter: alpha(opacity='100');
}

.profile-buttons:hover {
	background-color: #212a3a;
}

.profile-buttons:active {
	background-color: #161d29;
	color: #8b8e94;
}

.profile-buttons:active svg {
	fill: #8b8e94;
}

.profile-button-count {
	padding: 0 10px;
}

.ship-active {
	background-color: #ee3643;
}

.checkout {
	background-color: #63a63e;
	color: #fff;
}

.checkout:hover {
	background-color: #5fbb2d;
}

.checkout:active {
	background-color: #518534;
	color: #91b27f;
}

.autorization-block a.username-profile-link,
.autorization-block a.logout-link {
	padding-top: 0;
}

.username-profile-link svg {
	fill: #c5c5c5;
	margin-left: 28px;
	margin-right: 0;
}

.username-profile-link:hover span {
	color: #000;
}

.username-profile-link:hover svg {
	fill: #32425c;
}

.logout-link:hover path {
	fill: #32425c;
}

.profile-list-menu {
	margin: 0;
	padding: 0px 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.profile-list-menu li:first-child {
	list-style: none;
}

.profile-list-menu li:last-child {
	list-style: inside;
}

.profile-list-menu li {
	padding: 2px 6px;
}

.profile-list-menu a {
	color: #32425c;
	text-decoration: underline;
}

.profile-list-menu a:hover {
	color: #ee3643;
}

.profile-buttons.red-btn {
	margin: 0;
	height: 100%;
	border-radius: 0;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	text-transform: none;
	font-size: 18px;
}

.top-navigation-menu-list {
	width: 100%;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	margin: 0;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	list-style: none;
	background-color: #32425c;
}

.menu-list-item {
	width: 100%;
}

.menu-list-item a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	align-items: center;
	min-height: 55px;
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 55px;
	background-color: #32425c;
	border-bottom: 4px solid #293449;
}

.menu-list-item a:hover {
	background-color: #293449;
}

.menu-list-item a:active {
	background-color: #1d2739;
	color: #868c95;
}

.main-title {
	font-style: italic;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	max-width: 290px;
	color: red;
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
	padding-left: 52px;
	padding-right: 40px;
}

.top-site-information {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	padding-top: 38px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.top-site-information svg {
	margin-right: 12px;
}

.contacts-top-menu {
	margin-top: 8px;
	max-width: 320px;
	text-align: center;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
}

.contacts-top-menu p {
	margin: 0;
	font-size: 14px;
	color: #32425c;
	font-weight: bold;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
}

.contacts-top-menu .phone {
	text-decoration: none;
	padding: 8px;
	font-weight: bold;
	margin-bottom: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-right: 45px;
	border: 4px solid #fff;
	color: #ee3643;
	font-size: 21px;
}
.contacts-top-menu span{
	margin-left: auto;
}
.autorization-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 8px;
	justify-content: flex-end;
}

.autorization-wrapper {
	max-width: 100%;
}

.login-icon {
	fill: #fff;
	filter: opacity(95%);
}

.login-link svg {
	margin-right: 25px;
}

.login-link:hover path {
	fill: #32425c;
}

.login-link,
.registration-link {
	padding: 25px;
}

.autorization-block a {
	padding-top: 20px;
	align-items: center;
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	height: 40px;
	font-weight: bold;
	background-color: #fff;
	color: #000;
	margin-top: 10px;
}

.user-name {
	min-width: 160px;
	font-size: 20px;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
}

.autorization-block .login-link {
	min-width: 120px;
	margin-right: 8px;
}

.autorization-block a:hover {
	color: #ee3643;
}

.autorization-block a:active {
	color: #c5c5c5;
	fill: #c5c5c5;
}
.user-profile-block a:active{
	color: #c5c5c5;	
	fill: #c5c5c5;
	filter:opacity(30%);
}
.profile-list-menu a:active{
	color: #c5c5c5;	

}
.login-link:active path {
	fill: #c5c5c5;
}

.special-orders {
	margin-top: 62px;
	margin-bottom: 52px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wrapper-page {
	margin-top: 60px;
}

.orders-slider-block {
	max-width: 620px;
	width: 100%;
}

.yellow-banner {
	background-color: #ffbf47;
}

.blue-banner {
	background-color: #3bbce3;
}

.purple-banner {
	background-color: #dc91d8;
}

.green-banner {
	background-color: #8ed78f;
}

.categories-banner-list {
	width: 100%;
	padding-left: 0;
	margin: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-between;
}

.categories-banner-list li {
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	padding: 22px 38px 22px 22px;
	max-height: 125px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

.categories-banner-list li {
	background-repeat: no-repeat;
	background-position: right center;
	background-origin: content-box;
}

.materials {
	background-image: url(../img/svg/icon-paint.svg);
}

.shipping {
	background-image: url(../img/svg/icon-shipping.svg);
}

.instrument {
	background-image: url(../img/svg/icon-instrument.svg);
}

.cars {
	background-image: url(../img/svg/icon-cars.svg);
}

.sale {
	background-image: url(../img/svg/icon-sale.svg);
}

.icon {
	margin: 0 6px;
	width: 20px;
	height: 20px;
	display: block;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.input-search {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.categories-vertical {
	max-width: 300px;
	width: 100%;
}

.categories-vertical li {
	width: 100%;
}

.categories-banner-list .banner-title {
	margin: 0;
}

.categories-banner-list li:last-child {
	margin-right: 0;
}

.categories-vertical li:last-child {
	margin-bottom: 0;
}

.new-item:before {
	content: 'new';
	width: 100px;
	height: 30px;
	background-color: #ff5357;
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 8px;
	z-index: 10;
	color: #ffffff;
	transform: rotate(45deg);
	right: -30px;
}

.banner-info {
	width: 100%;
	height: 100%;
}

.banner-info a {
	padding: 9px 0px;
	width: 140px;
	transition: 0.2s;
	font-size: 14px;
	display: block;
	margin-top: 14px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	text-transform: uppercase;
	text-align: center;
}

.banner-info a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.banner-info a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.orders-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.slider-block {
	height: 268px;
}

.slider-block img {
	width: 100%;
	height: 100%;
}

.big-wrapper {
	max-width: 65%;
	width: 100%;
}

.section-title {
	font-size: 30px;
	text-transform: uppercase;
	margin: 20px 0px;
	margin-bottom: 40px;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
}

p {
	font-size: 14px;
}

.company-info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-company {
	max-width: 550px;
	width: 100%;
}

.about-company p:last-child {
	margin-top: 8px;
}

.about-company .section-title {
	margin: 14px 0;
	font-size: 28px;
}

.about-company .section-text {
	line-height: 8px;
}

.contacts-company {
	padding-left: 10px;
	max-width: 310px;
}

.company-info p {
	font-family: 'PT Sans', 'Arial', 'sans-serif';
}

.services p {
	font-family: 'PT Sans', 'Arial', 'sans-serif';
}

.contacts-company .section-title {
	margin: 15px 0;
}

.section-description {
	margin-top: 26px;
	line-height: 24px;
	margin-bottom: 30px;
}

.company-directions {
	padding-left: 0;
	margin-top: 22px;
	margin-bottom: 38px;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
}

.company-directions li {
	margin-bottom: 18px;
	font-size: 18px;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.company-directions li:before {
	content: '';
	position: relative;
	margin-right: 10px;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #ee3643;
}

.item:hover .item-hidden-block {
	filter: opacity(1);
	transform: translateY(0);
	visibility: visible;
}

.contacts-company .section-description {
	margin-bottom: 30px;
}

.item-hidden-block {
	transition: 0.4s;
	transform: translateY(-100%);
	filter: opacity(0);
	visibility: hidden;
	position: absolute;
	height: 170px;
	z-index: 8;
	width: 100%;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #fff;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.item-button {
	margin: 4px;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: flex-start;
	width: 135px;
	height: 38px;
	border-radius: 4px;
}

.add-to-cart {
	text-transform: uppercase;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	padding-top: 6px;
	padding-left: 6px;
	font-size: 14px;
	background-color: #63a63e;
	color: #fff;
	border-bottom: 3px solid #367315;
}

.add-to-cart svg {
	left: 5px;
	margin-right: 17px;
	fill: #fff;
	filter: opacity(40%);
}

.add-to-cart:hover {
	background-color: #5fbb2d;
}

.add-to-cart:hover svg {
	filter: opacity(100%);
}

.add-to-cart:active {
	background-color: #518534;
	border-bottom: 3px solid #518534;
}

.add-to-cart:active svg {
	filter: opacity(70%);
}

.add-to-bookmark {
	color: #32425c;
	justify-content: center;
	background-color: #fff;
	border: 3px solid #63a63e;
}

.add-to-bookmark:hover {
	border: 3px solid #32425c;
}

.add-to-bookmark:active {
	filter: opacity(40%);
}

.red-btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	cursor: pointer;
	margin: 18px 0;
	background-color: #ee3643;
	color: #fff;
	height: 40px;
	font-size: 14px;
	border-radius: 2px;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
}

.red-btn:hover {
	background-color: #ca2c37;
}

.red-btn:active {
	background-color: #ba2732;
}

.big-btn {
	max-width: 300px;
	width: 100%;
}

.half-btn {
	width: 220px;
}

.location {
	margin-bottom: 36px;
	display: block;
	height: 160px;
}

.location img {
	max-width: 100%;
}

.footer-page {
	color: #fff;
	margin-top: 65px;
}

.company-geo p {
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	margin-bottom: 8px;
	font-size: 17px;
}

.footer-copyright p {
	margin: 0;
}

.footer-navigation .logotype {
	margin-bottom: 12px;
	font-size: 30px;
	height: 69px;
}

.footer-navigation {
	background-color: #32425c;
	min-height: 190px;
}

.title-section {
	margin: 20px 0;
	padding: 0 25px;
	min-height: 90px;
	background-color: #f9f5f0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.popular-products {
	margin-bottom: 3px;
}
.title-section a {
	width: 254px;
}
.title-section .section-title{
	margin:0;
}
.footer-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.copyright {
	margin-right: 70px;
}

.footer-nav ul {
	list-style: none;
}

.footer-navigation .footer-nav-link {
	padding: 0 60px;
	color: #fff;
	font-size: 18px;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
}

.footer-navigation .footer-nav-link:last-child {
	padding-right: 0;
}

.page-navigation {
	margin-top: 30px;
}

.page-navigation:active {
	color: #929caa;
	text-decoration: none;
}

.footer-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.footer-nav ul a:hover {
	text-decoration: underline;
}

.footer-copyright {
	padding: 36px 0;
	background-color: #293449;
	min-height: 110px;
}

.footer-nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.categories-navigation {
	margin-top: 12px;
}

.categories-navigation .footer-nav-link {
	color: #ffd180;
}

.categories-navigation .footer-nav-link:active {
	color: #998a6e;
	text-decoration: none;
}

.social-links {
	padding-left: 0;
	margin: 0 65px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
}

.social-link {
	transition: 0.4s;
	color: #fff;
	margin: 2px;
	width: 40px;
	height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: #212a3a;
}

.social-link img {
	max-width: 26px;
	max-height: 25px;
}

.social-links .social-link:hover {
	color: #ee3643;
	background-color: #ee3643;
}

.copyright-block:last-child {
	margin-right: 13px;
}

.copyright-block a {
	color: #ffd180;
}

.copyright-block a:hover {
	text-decoration: underline;
}

.copyright-block a:active {
	color: #c73644;
	text-decoration: none;
}

.page-title {
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	background-color: #f2f6f8;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	color: #32425c;
	padding: 45px 45px;
}

.section-title {
	margin-bottom: 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 29px;
}

.breadcrumbs {
	padding-left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	list-style: none;
	display: flex;
	padding-top: 4px;
	margin-bottom: 8px;
	background-color: #fff;
}

.breadcrumbs li {
	text-decoration: none;
	display: inherit;
	align-items: center;
	font-size: 14px;
	text-transform: uppercase;
}

.catalog-page .page-title {
	padding: 20px 28px;
	margin-bottom: 25px;
}

.breadcrumbs li:first-child svg {
	width: 18px;
	height: 18px;
}

.breadcrumbs li:nth-child(1):hover g {
	fill: #32425c;
	filter: opacity(100%);
}

.breadcrumbs li {
	display: inherit;
	align-items: center;
	position: relative;
}

.breadcrumbs li::after {
	content: '>';
	position: relative;
	right: 0;
	font-size: 21px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 18px;
	margin: 0 10px;
	color: #ccc;
}

.breadcrumbs a {
	font-family: 'PT Sans', 'Arial', 'sans-serif';
	text-transform: uppercase;
	font-size: 13px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}

.breadcrumbs a:hover {
	color: #ee3643;
}

.breadcrumbs li:last-child::after {
	display: none;
}

.catalog-page {
	background-color: #ffffff;
}

.catalog-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.checkbox-group {
	border-bottom: 1px solid #e5e5e5;
}

.section-catalog {
	font-family: 'PT Sans Narrow', 'Arial', 'sans-serif';
	margin-bottom: 80px;
	background-color: #ffffff;
}

.section-catalog .page-title {
	margin: 20px 0;
	padding: 30px;
	color: #32425c;
	background-color: #f2f6f8;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
}

.checkbox-group label {
	font-family: 'PT Sans', 'Arial', 'sans-serif';
	display: block;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 15px;
}

.checkbox-group input[type='checkbox'] {
	display: none;
}

.checkbox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.checkbox-text {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}

.checkbox-text:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 21px;
	height: 21px;
	background-image: url(../img/svg/checkbox-off.svg);
	-webkit-background-size: cover;
	background-size: cover;
	opacity:0.8;
}
.checkbox-text:after {
	content: '';
	position: absolute;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	width: 24px;
	height: 21px;
	transition: 0.4s;
}
.checkbox-text:hover:before{
	opacity:1;
}
label input[type='checkbox']:checked + .checkbox-text{
	opacity: 1;
}
label input[type='checkbox']:checked + .checkbox-text:before {
	background-image: url(../img/svg/checkbox-off.svg);
	visibility: hidden;
}

label input[type='checkbox']:checked + .checkbox-text:after {
	background-image: url(../img/svg/checkbox-on.svg);
	filter:brightness(0.5);
}
label input[type='checkbox']:checked:hover + .checkbox-text:after {
	filter:brightness(0.9);

}
.checkbox-group input:checked {
	color: #fff;
}

.checkbox-group .disabled {
	color: #a9a7a5;
}

.checkbox-group input {
	margin-right: 16px;
}

.radio input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.radio-text {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}

.radio-text:before {
	content: '';
	position: absolute;
	top: -0;
	left: 0;
	width: 24px;
	height: 20px;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-image: url(../img/svg/radio-off.svg);
}

.radio-text:after {
	content: '';
	position: absolute;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	width: 24px;
	height: 20px;
	transition: 0.4s;
}
.disabled-checkbox{
	filter:opacity(40%);
}
.disabled-checkbox input[type='checkbox']:checked + .checkbox-text:after{
	filter: brightness(0.9);
}
.disabled-radio {
	filter: opacity(60%);
	color: rgba(0, 0, 0, 0.4);
}
.disabled-radio .radio-text:before{
	filter: opacity(60%);
}
.disabled-radio .radio-text:hover:before{
	filter:opacity(50%);
}
.radio-text:hover:before{
	filter:brightness(0.8);
}
.radio input:checked + .radio-text:after {
	opacity: 1;
	filter:brightness(0.9);
	background-image: url(../img/svg/radio-on.svg);
}
.radio input:checked:hover + .radio-text:after {
	filter:brightness(0.7);

}
.radio input:focus + .radio-text:before {
	background-image: url(../img/svg/radio-off.svg);
}

.left-side {
	width: 230px;
}

.left-side-form {
	width: 220px;
}

.left-side-form fieldset {
	border: none;
	padding: 0;
}

.left-side-form legend {
	font-size: 17px;
	font-family: 'PT Sans', 'Arial', 'sans-serif';
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: bold;
}

button {
	font-family: 'PT Sans Narrow', 'Arial', 'sans-serif';
	text-transform: uppercase;
	border: none;
}

.dark-btn {
	cursor: pointer;
	background-color: #000000;
	color: #fff;
}

.dark-btn:hover {
	background-color: #663d15;
}

.button {
	cursor: pointer;
}

.button-show {
	border-radius: 2px;
	width: 140px;
	padding: 15px;
}

.popular-products .catalog-items {
	width: 100%;
	justify-content: flex-start;
}
.popular-products .item{
	margin-right:20px;
}
.popular-products .item:nth-child(4n+1){
	margin-right: 0;
}
.catalog-items {
	width: 700px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item {
	overflow: hidden;
	position: relative;
	transition: 0.2s;
	margin-bottom: 15px;
	width: 100%;
	max-width: 220px;
	min-height: 320px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.item:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popular-manufacters .title-section {
	margin-top: 0;
	margin-bottom: 20px;
}
.title-section .section-title{
	color:#32425c;
}
.item-link {
	color: #000000;
	text-decoration: none;
	display: block;
}
.item-image{
	width: 100%;
	height: 180px;
}
.item-title {
	min-height: 45px;
	padding: 0 20px;
	font-family: 'PT Sans', 'Arial', 'sans-serif';
	margin-top: 0px;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.item-title a {
	word-break: break-word;
	color: #000000;
}

.item img {
	min-width: 220px;
	height: 170px;
	max-width: 220px;
}

.item-price {
	width: 100%;
	height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.item-price .old-price {
	width: 100%;
	margin-bottom: 8px;
	font-weight: bold;
	color: #999999;
}

.old-price del {
	font-family: 'PT Sans', 'Arial', 'sans-serif';
}

.item-price .price {
	padding:0 15px;
	font-family: 'PT Sans', 'Arial', 'sans-serif';
	width: 100%;
	height: 100%;
	font-size: 16px;
	max-width: 123px;
	text-align: center;
	display: inherit;
	justify-content: center;
	font-weight: bold;
	align-items: center;
	color: #ffffff;
	border-radius: 3px;
	position: relative;
	background-color: #ee3643;
}

.item-price .price::after {
	display: block;
	content: '';
	position: absolute;
	right: -39px;
	top: 0px;
	border: 20px solid rgba(255, 255, 255, 0);
	border-left: 20px solid rgba(238, 54, 67, 1);
}

.pagination {
	transform: translate(-43px, 10px);
	margin-top: 36px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
}

.pagination li {
	margin: 4px;
}

.pagination a {
	transition: 0.2s;
	background-color: #ffffff;
	padding: 10px 15px;
	text-decoration: none;
	color: #000000;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

.pagination a:hover {
	border: 1px solid #bdc6ca;
}

.pagination a:active {
	border: 1px solid #ee3643;
}

.pagination-item.active a {
	color: #ffffff;
	border: 1px solid transparent;
	background-color: #ee3643;
}

.pagination-item.active a:hover {
	color: #ffffff;
}

.white-btn {
	font-family: 'PT Sans', 'Arial', 'sans-serif';
	cursor: pointer;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.white-btn:hover {
	background-color: #e5e5e5;
}

.description {
	margin-top: 125px;
}

.contacts-company p {
	max-width: 70%;
}

@keyframes modal-in {
	0% {
		transform: translate(-50%, -100%);
	}
	50% {
		transform: translate(-50%, -40%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

.modal-content {
	animation: modal-in 2s;
}

.modal-write-us {
	width: 100%;
	position: absolute;
	max-width: 620px;
	margin: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-height: 430px;
	background-color: #ffffff;
	border-top: 8px solid #ff5357;
	box-shadow: 0 15px 45px rgba(0, 0, 0, 0.6);
}

.popular-manufacters {
	margin-bottom: 105px;
}

.brands-list {
	padding-left: 0;
	margin: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.brands-list li {
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
	width: 220px;
	height: 145px;
}
.brands-list li:nth-child(4n){
	margin-right: 0;
}
.brands-list a {
	transition: 0.4s;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.brands-list a:hover {
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.brands-list a:active {
	filter:opacity(40%);
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.modal-wrapper {
	display: none;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 100;
}

.modal-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.close-btn {
	position: absolute;
	right: 8px;
	top: 8px;
	transform: rotate(0deg);
	cursor: pointer;
	background-color: transparent;
	margin-right: auto;
}

.close-btn:hover {
	transform: rotate(45deg);
}

.write-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 15px 80px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.input-group label:first-child{
	margin-right: 20px;
}
.input-group input{
	margin-bottom: 0;
}
.write-form .input-group{
	width: 100%;
	justify-content: space-between;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.write-form .label-textarea{
	width: 100%;
}
.modal-write-us label {
	font-weight: bold;
	font-size: 18px;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	margin-bottom: 8px;
	display: block;
}
.write-form .form-label{
	display: block;
	margin-bottom: 10px;
}
.write-form .label-textarea{
	padding-top: 15px;
}
.write-form fieldset {
	border: none;
	padding: 0;
}

.left-side-form fieldset.brands-group {
	margin-bottom: 28px;
	margin-top: 25px;
}

.left-side-form .categories-group {
	margin-bottom: 14px;
}

.write-form .textarea {
	margin-bottom: 30px;
	width: 100%;
}

.modal-write-us .modal-body {
	margin-top: 16px;
}

.default-input {
	line-height: 5px;
	font-family: 'PT Sans', 'Arial', 'sans-serif';
	margin-bottom: 55px;
	padding: 15px;
	min-width: 220px;
	height: 40px;
	border-radius: 3px;
	border: 2px solid #dee3e4;
}

.default-input::placeholder {
	color: #ccc;
}

.default-input:hover {
	border: 2px solid #b5b5b5;
}

.default-input:focus {
	outline: none;
	border: 2px solid #ee3643;
}

.write-form textarea {
	width: 100%;
	height: 115px;
	max-height: 140px;
}

.write-form button[type='submit'] {
	width: 100%;
}

.modal-map {
	display: none;
}

.modal-map-show {
	display: block;
}

.modal-show {
	display: block;
}

.modal-show-map {
	position: fixed;
	background-color: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 940px;
	width: 100%;
	min-height: 450px;
}

.modal-cart {
	border-top: 8px solid #ff5357;
	animation: modal-in 1s;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #ffffff;
	transform: translate(-50%, -50%);
	max-width: 620px;
	width: 100%;
	box-shadow: 0 15px 45px rgba(0, 0, 0, 0.6);
	min-height: 280px;
}

.modal-cart .modal-body {
	padding: 50px 80px;
}

.modal-wrapper .white-btn {
	cursor: pointer;
	height: 40px;
	width: 220px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.modal-wrapper .white-btn:hover {
	filter: brightness(95%);
}

.button-group {
	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.button-group button {
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	font-size: 14px;
	margin: 15px;
	border-radius: 3px;
}

.item-add-to-cart {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

@keyframes pulse {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.services-slider {
	min-height:350px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.services .section-title {
	margin-bottom: 24px;
}

.services p {
	line-height: 13px;
}

.services .slider-controls {
	padding: 57px 0;
	position: relative;
	max-width: 240px;
}

.services .slider-controls:before {
	content: '';
	position: absolute;
	right: 0;
	top: 15px;
	z-index: 4;
	background-image: url(../img/services-shadow.png);
	width: 8px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 260px;
}

.services .controls-item {
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;
	text-align: left;
	padding: 0 23px;
	line-height: 62px;
	display: block;
	width: 240px;
	min-height: 62px;
	position: relative;
	color: #ffffff;
	background-color: #32425c;
	cursor: pointer;
}
.services .controls-item:hover {
	background-color: #293449;
}
.slider-content {
	display: inherit;
}

.slider-content .shipping-car {
	position: absolute;
	right: -18px;
	top: 27px;
	max-height: 250px;
	max-width: 475px;
}

.services {
	overflow: hidden;
	background-color: #f3f7f9;
	margin-bottom: 60px;
}

.slider-instruments-controls {
	z-index: 10;
	position: absolute;
	bottom: 30px;
	width: 100%;
	height: 20px;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-instruments-controls .controls-item {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 3px;
	border-radius: 50%;
	cursor: pointer;
}

.slider-instruments-controls .slider-arrow {
	position: absolute;
	bottom: 78px;
}

.left-arrow {
	left: -270px;
}

.right-arrow {
	right: -272px;
}

.slider-instruments-controls label::after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 1;
	background: #ffffff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.instruments-slider {
	position: relative;
	width: 620px;
	height: 268px;
}

.instruments-slider-list .slider-item:nth-child(1) {
	background-image: url(../img/slider-drels.png);
	background-repeat: no-repeat;
	background-position: 100%;
	background-color: #a6826d;
}

.instruments-slider-list .slider-item:nth-child(2) {
	background-image: url(../img/slider-perforator.png);
	background-repeat: no-repeat;
	background-position: 100%;
	background-color: #cdb5a8;
}

.instruments-1:checked~.instruments-slider-list .slider-item:nth-child(1) {
	display: block;
}

.instruments-2:checked~.instruments-slider-list .slider-item:nth-child(2) {
	display: block;
}

.instruments-slider-list .slider-item {
	display: none;
}

.instruments-slider-list .red-btn {
	z-index: 15;
	width: 198px;
	position: absolute;
	bottom: 5px;
	left: 25px;
}

.instruments-1:checked~.slider-instruments-controls .slider-controls-item-1::before,
.instruments-2:checked~.slider-instruments-controls .slider-controls-item-2::before {
	content: '';
	position: absolute;
	left: 4px;
	top: 4px;
	z-index: 2;
	width: 6px;
	height: 6px;
	background-color: #ee3643;
	border-radius: 50%;
}

.instruments-slider-list .slider-item {
	padding: 20px 25px;
	color: #ffffff;
	width: 620px;
	height: 268px;
}

.instruments-slider-list {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

.instruments-slider-list .instruments-title,
.instruments-slider-list .slider-title-description {
	margin: 0;
	font-size: 17px;
}

.instruments-slider-list .instruments-title {
	font-size: 36px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.instruments-title a {
	color: #ffffff;
}

.shipping-slide .services-item-text {
	max-width: 300px;
	font-size: 14px;
}

.services .slider-item {
	min-height: 275px;
	position: relative;
}

.shipping-slide .services-item-text:nth-child(1) {
	line-height: 23px;
	margin-bottom: 0;
}

.shipping-slide .services-item-text:nth-child(2) {
	max-width: 200px;
	margin: 0;
	line-height: 21px;
}

.guarantee-slide .services-item-text {
	max-width: 405px;
	margin: 0;
	line-height: 24px;
}

.guarantee-slide img {
	right: -28px;
	top: 8px;
}

.shipping-slide .services-title {
	margin-top: 41px;
	margin-bottom: 25px;
}

.guarantee-slide .services-title {
	font-style: italic;
	font-family: 'PT Sans', 'Arial', 'sans-serif';
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.credit-slide .services-title {
	margin-bottom: 28px;
}

.credit-slide a {
	width: 195px;
	margin-top: 28px;
}

.credit-slide img {
	right: -30px;
	top: 18px;
}

.services-slider-list {
	width: 680px;
	padding-left: 80px;
}

.slider-content img {
	position: absolute;
}

.services-slider-list .services-title {
	text-transform: uppercase;
	color: #32425c;
	font-size: 36px;
}

.services-1:checked~.services-slider-list .slider-item:nth-child(1) {
	display: block;
}

.services-2:checked~.services-slider-list .slider-item:nth-child(2) {
	display: block;
}

#services-3:checked~.services-slider-list .slider-item:nth-child(3) {
	display: block;
}

.services-slider-list .slider-item {
	display: none;
}

.services-1:checked~.slider-controls .slider-controls-item-1::before,
.services-2:checked~.slider-controls .slider-controls-item-2::before,
.services-3:checked~.slider-controls .slider-controls-item-3::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.services-3:checked~.slider-controls .slider-controls-item-3 {
	border-bottom: 1px solid #fff;
}

.services-1:checked~.slider-controls .slider-controls-item-1,
.services-2:checked~.slider-controls .slider-controls-item-2,
.services-3:checked~.slider-controls .slider-controls-item-3 {
	color: #32425c;
	border-top: 1px solid #ffffff;
}

.controls-item span {
	position: relative;
	z-index: 3;
	display: block;
	width: 100%;
	font-size: 21px;
	height: 100%;
	font-family: 'Cuprum', 'Arial', 'sans-serif';
}

.slider-controls .slider-controls-item::after {
	content: '';
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	transition: 200ms;
	width: 18px;
	height: 18px;
	background: #ffffff;
}

.item-add-to-cart svg {
	animation: pulse 0.6s;
	margin-right: 26px;
}

.modal-cart .modal-footer {
	padding: 25px;
	background-color: #f1f1f1;
}

.item-add-to-cart p {
	font-family: 'Cuprum', 'Arial', 'sans-serif';
	font-size: 27px;
	font-weight: bold;
}

.range-inputs {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.range-label input {
	font-size: 16px;
	border-radius: 4px;
	font-weight: bold;
	font-family: 'PT Sans', 'Arial', 'sans-serif';
	text-align: center;
	width: 95px;
	height: 40px;
	background-color: #f7f3ec;
}

.range {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	background-color: #f7f3ec;
	border-radius: 4px;
	height: 80px;
	padding: 20px;
	margin-bottom: 10px;
}

.scale-line {
	width: 100%;
	height: 2px;
	background-color: #d7dcde;
}

.scale-line .bar {
	position: relative;
	background-color: #00ca74;
	height: 2px;
}

button.toggle {
	position: absolute;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.toggle:before {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #ababab;
	top: 8px;
	left: 8px;
}

.filter-group {
	font-size: 13px;
	font-family: 'PT Sans', 'Arial', 'sans-serif';
	height: 40px;
	margin-bottom: 15px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	background-color: #f7f3ec;
}

.filter-group span {
	margin-right: auto;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: normal;
	padding: 15px;
}

.range-inputs {
	margin-bottom: 20px;
}

.filter-range {
	border-bottom: 1px solid #e5e5e5;
}

.filter-range .toggle {
	top: -10px;
}

.filter-range .toggle-min {
	left: 0;
}

.filter-range .toggle-max {
	right: 0;
}
.sort-arrow-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
}
.filter-sort-list {
	padding-left: 12px;
	min-width: 425px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.sort-link {
	margin: 0 25px;
	color: #ababab;
	text-transform: uppercase;
	border-bottom: 1px dashed #ee3643;
}

.sort-link:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sort-link.active {
	color: #ee3643;
	border-bottom: 1px solid transparent;
}

.sort-arrow {
	margin: 0 13px;
}

.sort-arrow svg {
	fill: #c5c5c5;
}

.sort-arrow:hover svg {
	fill: #000000;
}

.sort-arrow.active svg {
	fill: #ee3643;
}

.logout-link {
	padding-left: 35px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.search-group label {
		top: 10px;
	}
	.login-link svg {
		margin-right: 15px;
	}
	.top-navigation-menu-list {
		width: 100%;
		padding: 0 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		margin: 0;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		list-style: none;
		background-color: #32425c;
	}
	.menu-list-item a {
		color: #ffffff;
		font-size: 17px;
		text-decoration: none;
		align-items: center;
		min-height: 55px;
		padding-left: 30px;
		padding-right: 30px;
		display: flex;
		justify-content: center;
		text-align: center;
		line-height: 55px;
		background-color: #32425c;
		font-family: 'Cuprum', 'Arial', 'sans-serif';
		border-bottom: 4px solid #293449;
	}
}

.description .section-description {
	font-family: 'PT Sans', 'Arial', 'sans-serif';
}

@media only screen and (max-width:965px) {
	.instruments-slider-list .slider-item {
		width: 612px;
	}
	.catalog-items {
		width: 682px;
	}
}